@model Books

<form method="post">
    <div class="mb-3">
        <label asp-for="title" class="form-label"></label>
        <input type="text" asp-for="title" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="Summary" class="form-label"></label>
        <input type="text" asp-for="Summary" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a asp-controller="Home" asp-action="Index" type="submit" class="btn btn-secondary">Back to home</a>
</form>