@model Books

<form method="post">
    <div class="mb-3">
        <label asp-for="Title" class="form-label"></label>
        <input type="text" asp-for="Title" class="form-control">
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Summary" class="form-label"></label>
        <input type="text" asp-for="Summary" class="form-control">
        <span asp-validation-for="Summary" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Category_id" class="form-label"></label>
        <select asp-for="Category_id" class="form-control">
            <option value="">Select a category</option>
            @foreach (var category in ViewBag.Category)
            {
                <option value="@category.Id" selected="@((Model.Category_id == category.Id) ? "selected" : null)">
                    @category.Name
                </option>
            }
        </select>
        <span asp-validation-for="Category_id" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a asp-controller="Home" asp-action="Index" type="submit" class="btn btn-secondary">Back to home</a>
</form>
